node_modules
server/.env
client/.env
client/.env.production
.env.production
.env.local
.env
client/.next/
client/out/
server/wip/
client/wip/


/client/mocks

# Playwright and artillery
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/


