.gitignore
node_modules
server/.env
client/.env
.env.local
.env.production
client/.env.production
todo.txt
devblog.txt
recall.txt
.env
client/.next/
client/out/
accounts.txt
dump.rdb

/client/mocks

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
