.gitignore
node_modules
/.env
/.env.local
/.env.production
/client/.env.production
todo.txt
devblog.txt
recall.txt
client/.next/
client/out/
accounts.txt
dump.rdb

/client/mocks
/server/controllers/protectedd.ts

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/


